<div class="property property--number">
  <button class="property__key"></button>
  <label for="{{id}}" class="property__label">{{label}}</label>
  <input type="number" id="{{id}}" class="property__input" value="{{val}}" />
</div>

<div class="property property--number">
  <button class="property__key"></button>
  <label for="{{id}}" class="property__label">Ｘ:</label>
  <input type="number" id="{{id}}" class="property__input" value="{{x}}" />

</div>

<div class="property property--number">
  <button class="property__key"></button>
  <label for="{{id}}" class="property__label">Time:</label>
  <input type="number" id="{{id}}" class="property__input" value="{{x_time}}" />

</div>

<div class="property property--number">
  <button class="property__key"></button>
  <label for="{{id}}" class="property__label">Ｙ:</label>
  <input type="number" id="{{id}}" class="property__input" value="{{y}}" />

</div>

<div class="property property--number">
  <button class="property__key"></button>
  <label for="{{id}}" class="property__label">Time:</label>
  <input type="number" id="{{id}}" class="property__input" value="{{y_time}}" />

</div>


<div class="property property--number">
  <button class="property__key"></button>
  <label for="{{id}}" class="property__label">設定Video</label>
  <input type="value" id="{{id}}" class="property__input" value="{{video}}" />
</div>

<div class="property property--number">
  <button class="property__key"></button>
  <label for="{{id}}" class="property__label">設定audio</label>
  <input type="value" id="{{id}}" class="property__input" value="{{audio}}" />
</div>


<div class="property property--number">
  <button class="property__key"></button>
  <label for="{{id}}" class="property__label">設定Led</label>
  <input type="value" id="{{id}}" class="property__input" value="{{led}}" />
</div>